HOST: http://www.google.com/

--- Sample API v2 ---
---
Welcome to the our sample API documentation. All comments can be written in (support [Markdown](http://daringfireball.net/projects/markdown/syntax) syntax)
---

--
ViewOne
Data for view one
--
GET /viewone
< 200
< Content-Type: application/json
{
    "name": "View One",
    "items": ["one", "two", "three"]
}

--
ViewTwo
Data for view two
--
GET /viewtwo
< 200
< Content-Type: application/json
{
    "name": "View two",
    "items": ["four", "five", "six"]
}

--
ViewThree
Data for view three
--
GET /viewthree
< 200
< Content-Type: application/json
{
    "name": "View three",
    "items": ["seven", "eight", "nineVie"]
}

--
List of Items
Just a list of items
--
GET /items
< 200
< Content-Type: application/json
{ "items": [
    { 
        "title": "Item One", 
        "descsription": "The description for item one."
    },
    { 
        "title": "Item Two", 
        "descsription": "The description for item two."
    },
    { 
        "title": "Item Three", 
        "descsription": "The description for item three."
    }
] }

--
Shopping Cart Resources
The following is a section of resources related to the shopping cart
--
List products added into your shopping-cart. (comment block again in Markdown)
GET /shopping-cart
< 200
< Content-Type: application/json
{ "items": [
  { "url": "/shopping-cart/1", "product":"2ZY48XPZ", "quantity": 1, "name": "New socks", "price": 1.25 }
] }

Save new products in your shopping cart
POST /shopping-cart
> Content-Type: application/json
{ "product":"1AB23ORM", "quantity": 2 }
< 201
< Content-Type: application/json
{ "status": "created", "url": "/shopping-cart/2" }


-- Payment Resources --
This resource allows you to submit payment information to process your *shopping cart* items
POST /payment
{ "cc": "12345678900", "cvc": "123", "expiry": "0112" }
< 200
{ "receipt": "/payment/receipt/1" }